.example-card {
  max-width: 300px;
  max-height: 500px;
  margin-top: 20px;
  margin-left: 10px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.padre {
  background-color: rosybrown;
  width: 1600px;
  height: 1800px;
}
